h2 {
  position: relative;
  right: 5px;
}
small {
  display: block;
  font-weight: normal;
}
.City {
  position: relative;
  top: 30px;
}
.icon {
  position: relative;
  top: 7px;
}
.temp {
  position: relative;
  top: 25px;
}
.units .active {
  color: rgb(245, 255, 255);
  cursor: default;
}
.units .active:hover {
  text-decoration: none;
}
.units {
  color: yellowgreen;
  font-size: 15px;
  position: relative;
  top: 5px;
}
.description {
  text-align: center;
  position: relative;
  top: 30px;
}
.description::first-letter {
  text-transform: uppercase;
}
